.blog-image {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 2px #757575;
  position: relative; }
  .blog-image .blog-info-overlay {
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    background: #1d1d1d9f;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
    position: absolute;
    opacity: 0; }
    .blog-image .blog-info-overlay__animate-circle {
      width: 40px;
      padding: 8px;
      position: absolute;
      border-radius: 100%;
      top: 15px;
      right: 15px;
      background: none;
      border: 0;
      box-sizing: border-box; }
      .blog-image .blog-info-overlay__animate-circle::before, .blog-image .blog-info-overlay__animate-circle::after {
        top: 0;
        left: 0;
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%; }
      .blog-image .blog-info-overlay__animate-circle:hover, .blog-image .blog-info-overlay__animate-circle.animate-circle {
        color: #00b4b4; }
      .blog-image .blog-info-overlay__animate-circle::before {
        border: 1.5px solid transparent; }
      .blog-image .blog-info-overlay__animate-circle:hover::before, .blog-image .blog-info-overlay__animate-circle.animate-circle::before {
        border-top-color: #00b4b4;
        border-right-color: #00b4b4;
        border-bottom-color: #00b4b4;
        transition: border-top-color 0.2s linear 0.3s, border-right-color 0.2s linear 0.3s, border-bottom-color 0.2s linear 0.3s; }
      .blog-image .blog-info-overlay__animate-circle::after {
        border: 0 solid transparent; }
      .blog-image .blog-info-overlay__animate-circle:hover::after, .blog-image .blog-info-overlay__animate-circle.animate-circle::after {
        border-top: 2px solid #00b4b4;
        border-left-width: 0px;
        border-right-width: 0px;
        transform: rotate(270deg);
        transition: transform 0.45s linear 0s, border-left-width 0s linear 0.4s; }
    .blog-image .blog-info-overlay h1, .blog-image .blog-info-overlay .href-link {
      color: #fff; }
    .blog-image .blog-info-overlay h1 {
      font-size: 2em;
      font-weight: 700; }
      @media (max-width: 1024px) {
        .blog-image .blog-info-overlay h1 {
          font-size: 1.4em; } }
  .blog-image:hover .blog-info-overlay {
    opacity: 1; }
    .blog-image:hover .blog-info-overlay h1, .blog-image:hover .blog-info-overlay href-link {
      color: #fff; }
    .blog-image:hover .blog-info-overlay h1 {
      font-size: 2em;
      font-weight: 700; }
      @media (max-width: 1024px) {
        .blog-image:hover .blog-info-overlay h1 {
          font-size: 1.4em; } }

@keyframes planetFloat {
  0% {
    transform: translateY(0px) rotate(0deg); }
  25% {
    transform: translateY(40px) rotate(360deg); }
  50% {
    transform: translateY(-40px); }
  75% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0px) rotate(1440deg); } }

.blog-planet {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .blog-planet a {
    width: 60%;
    display: inline-block; }
  .blog-planet img {
    position: relative;
    animation: planetFloat 120s ease 0.1s infinite normal; }

#space-scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: radial-gradient(circle, #14161e 70%, #121212 100%); }
