/* Astrohead fonts */
@font-face {
    font-family: 'Astrohead';
    src: url('../fonts/AstroheadBold.woff2') format('woff2'),
        url('../fonts/AstroheadBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astrohead';
    src: url('../fonts/AstroheadRegular.woff2') format('woff2'),
        url('../fonts/AstroheadRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astrohead';
    src: url('../fonts/AstroheadLight.woff2') format('woff2'),
        url('../fonts/AstroheadLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* ChaparralPro fonts */
@font-face {
    font-family: 'ChaparralPro';
    src: url('../fonts/ChaparralPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ChaparralPro';
    src: url('../fonts/ChaparralPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dos';
    src: url('../fonts/win-dos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





