/*------------------------ 1 Body and Core Css ------------------------*/

body {
  font-family: "Montserrat", sans-serif;
  /* cursor: url(../assets/ship-cursor.png), auto; */
}

html {
  height: 100%;
}

p, a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #f1f1f1;
  line-height: 1.75;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #f1f1f1;
  line-height: 1.75;
}

a {
  &:hover {
    filter: brightness(80%);
  }
}

.slick-next::before,
.slick-prev::before {
  color: black !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

#back-home {
  cursor: pointer;
}

#back::before {
  content: "◀︎";
  position: relative;
  cursor: pointer;
}

#back:hover {
  color: gray;
}

// Util class
.no-hover {
  pointer-events: none !important;
}

// Z-index
.z-index {
  &-99 {
    z-index: 99 !important;
  }
}

.logo {
  float: left;
}

.responsive {
  display: none;
  font-size: 23px;
}

.overlay {
  position: fixed;
  z-index: 99;
  background: black;
  background-size: cover;
  height: 999999999px;
  width: 999999999px;
}

.active {
  color: #afafaf !important;
}

.ok {
  background: green !important;
  border: solid 2px green !important;
  color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.content {
  margin-top: 120px;
}

@media (max-width: 767px) {
  .content {
    margin-top: 30px;
  }
}

.subpage-nav {
  display: block !important;
  position: relative;
}

.page-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  z-index: 2;
  position: relative;
}

.page-title h1 {
  font-size: 75px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 20px;
}
