.site-button {
  padding: 10px 50px;
  font-size: 12px;
  background: none;
  border: 2px solid;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  transition: all ease 0.3s;
}

.btn {
  &-main {
    background: $form-field-bg-color;
  }
}