// Tablet view for image and slider
.tablet {
  border: max(12px, min(3vw, 48px)) solid #252525;
  padding-top: max(300px, min(50%, 720px));
  border-radius: max(12px, min(3vw, 48px));
  display: flex;
  flex-direction: column;
  align-items: center;
  &__camera {
    position: absolute;
    border: 3px dashed #1c1c1c;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 0;
    transform: translateY(-34px);
  }
}

// Horizontal style
.hr-style {
  &--1 {
    width: max(100px, min(75%, 750px));
    height: 1px;
    background-color: $form-field-border-color;
    &:after {
      content: '';
      position: relative;
      display: inline-block;
      left: 48.75%;
      transform: rotate(45deg);
      top: -9px;
      height: 15px;
      width: 15px;
      border: 2px solid $form-field-border-color--focus;
      background-color: #1c1c1c;
    }
  }
}

// Project 
.project {
  &__description-container {
    &::first-letter {
      display: block;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      color: $form-field-border-color--focus;
      text-shadow: 0 0 10px $form-field-border-color;
      position: relative;
      top: 0;
      float: left;
      line-height: 80%;
      margin: 0 1rem 0 0;
      font-size: 6.75rem;
      background-clip: text;
    }
    p {
      &:first-child {
        // font-size: 1.875rem;
        font-size: max(1.35rem, min(5vw, 1.875rem));
        line-height: 1.5;
      }
    }
  }
  &__gallery-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max(180px, min(20vw, 200px));
    &__image {
      cursor: pointer;
      grid-column: span 2;
      &:nth-of-type(4n+5), &:nth-of-type(5n+4) {
        grid-column: span 3;
      }
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}

@media (max-width: $tablet-screen-size) {
  .project {
    &__gallery-container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: max(220px, min(18vw, 250px));
      &__image {
        grid-column: span 1 !important;
      }
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .project {
    &__gallery-container {
      grid-template-columns: 1fr;
      grid-auto-rows: max(150px, min(56vw, 360px));
    }
  }
}