.slider {
  display: flex;
  position: relative;
  // Image slider list
  .slick-list {
    padding-bottom: 5rem;
    .slick-slide {
      &:nth-of-type(even){
        transform: translateY(60px);
      }
    }
  }
  // Image slider dot
  .slick-dots {
    li {
      width: auto;
      height: auto;
      vertical-align: middle;
      .slick-custom-dot {
        transition: all 0.2s $easeInOut;
        border-radius: 8px;
        width: 25px;
        height: 7px;
        box-shadow: 0 0 12px #5f5f5f;
        background: linear-gradient(130deg, #c2c2c275 30%, #c2c2c275 75%, #54545433 100%);
        &:hover {
          box-shadow: 0 0 12px 4px #5f5f5f;
        }
      }
      &.slick-active {
        .slick-custom-dot {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          animation: planetShading;
          animation-timing-function: $easeInOut;
          animation-duration: 2s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          background: linear-gradient(130deg, #12121233 30%, #3b3b3b33 75%, #54545433 100%);
        }
      }
    }
  }
  &__container {
    .slider-image {
      &__container {
        position: relative;
        aspect-ratio: 1/2;
        overflow: hidden;
        .location_text {
          opacity: 0;
          z-index: 2;
          display: flex;
          position: absolute;
          top: 20%;
          left: 2.5rem;
          white-space: nowrap;
          align-self: flex-start;
          writing-mode: vertical-lr;
          transform: rotateZ(180deg);
          transition: opacity 0.3s $easeInOut;
        }
        &:hover {
          .location_text {
            top: 20%;
            opacity: 1;
            z-index: 3;
          }
          .slider-image {
            &__image{
              transform: scale(1.15);
            }
            &__overlay {
              background-color: scale-color(#14151C50, $lightness: -100%);
            }
          }
        }
      }
      &__overlay {
        position: absolute;
        width: calc(100% - 4rem);
        height: 100%;
        background: rgb(20,21,28);
        background: linear-gradient(0deg, $black-bg-color 0%, #ffffff10 40%, #ffffff10 60%, $black-bg-color 100%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        transition: background-color 0.3s $easeInOut;
      }
      &__image {
        transition: transform 0.3s $easeInOut;
        object-fit: cover;
        position: relative;
      }
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .slider {
    &__container {
      .slider-image {
        &__container {
          .location_text {
            left: 1.5rem;
          }
        }
        &__overlay {
          width: calc(100% - 2rem);
        }
      }
    }
  }
}

@keyframes planetShading {
  from { box-shadow: 0 0 8px 2px #5f5f5f; }
  to { box-shadow: 0 0 24px 4px #5f5f5f; }
}