.slider {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: 60% 40%;
  gap: 45px;
  .slick-list {
    padding-bottom: 5rem;
    .slick-slide {
      &:nth-of-type(even){
        transform: translateY(60px);
      }
    }
  }
  &__container {
    width: 100%;
    .slider-image {
      &__container {
        position: relative;
        aspect-ratio: 1/2.5;
      }
      &__overlay {
        position: absolute;
        width: calc(100% - 4rem);
        height: 100%;
        background: rgb(20,21,28);
        background: linear-gradient(0deg, #14151c 0%, #ffffff10 40%, #ffffff10 60%, #14151c 100%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
      }
    }
  }
}